body{
    background-color: rgb(196, 176, 149);
    color: rgb(102, 89, 89);


}
.outer{
    background-color: brown;
    color: rgb(184, 110, 110);

}
.h1{
    background-color: rgb(477, 160, 86);    
    color: rgb(112, 96, 66);
    font-size: -webkit-xxx-large;
    
}